[Desktop Entry]
Encoding=UTF-8
Name=FidChain
Comment=FidChain P2P Cryptocurrency
Comment[fr]=FidChain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FidChain, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/FidChain
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/FidChain;
Categories=Office;
